aiohttp==3.7.4.post0
arrow==0.17.0
async-generator==1.10
async-timeout==3.0.1
attrs==21.4.0
beautifulsoup4==4.10.0
cassiopeia==5.0.1
certifi==2021.10.8
cffi==1.15.0
chardet==4.0.0
charset-normalizer==2.0.6
colorama==0.4.4
commonmark==0.9.1
configparser==5.2.0
crayons==0.4.0
cryptography==36.0.1
datapipelines==1.0.7
defusedxml==0.7.1
discord==1.7.3
discord.py==1.7.3
ffmpy==0.3.0
h11==0.12.0
idna==3.2
ifaddr==0.1.7
librespot==0.0.1
merakicommons==1.0.10
multidict==6.0.2
music-tag==0.4.3
mutagen==1.45.1
networkx==2.6.3
numpy==1.21.4
outcome==1.1.0
pandas==1.3.4
peewee==3.13.3
Pillow==8.4.0
protobuf==3.19.1
pycparser==2.21
pycryptodomex==3.12.0
pydub==0.25.1
Pygments==2.10.0
PyNaCl==1.5.0
PyOgg==0.6.14a1
pyOpenSSL==21.0.0
python-dateutil==2.8.2
python-decouple==3.5
python-dotenv==0.20.0
pytube==11.0.1
pytz==2021.3
rapidfuzz==1.8.3
requests==2.26.0
rich==10.15.2
selenium==4.1.0
sentry-sdk==0.19.4
six==1.16.0
sniffio==1.2.0
sortedcontainers==2.4.0
soupsieve==2.3.1
spotipy==2.19.0
tabulate==0.8.9
tqdm==4.62.3
trio==0.19.0
trio-websocket==0.9.2
typing_extensions==4.2.0
Unidecode==1.3.2
urllib3==1.26.7
wavelink==0.9.10
webdriver-manager==3.5.2
websocket-client==1.2.1
websockets==10.1
wsproto==1.0.0
yarl==1.7.2
youtube-dl==2021.6.6
yt-dlp==2021.12.1
ytmusicapi==0.19.5
zeroconf==0.37.0
